backports.entry-points-selectable==1.1.1
coverage==6.2
cyclonedx-bom==1.5.3
cyclonedx-python-lib==0.11.1
distlib==0.3.4
filelock==3.4.0
packageurl-python==0.9.6
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
requirements-parser==0.2.0
six==1.16.0
toml==0.10.2
tox==3.24.4
types-setuptools==57.4.4
types-toml==0.10.1
virtualenv==20.10.0
